<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836187479018-hc5kk0aqgjdkeilmeggb5lqvg818nb23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836187479018-hc5kk0aqgjdkeilmeggb5lqvg818nb23</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>836187479018-ec9rcg0gqruq3duvbjr7g6hkqh2v0gn2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAmz0clr0VudMkDHTpyScAIDoZImnkz7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>836187479018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.jkcorp.carros</string>
	<key>PROJECT_ID</key>
	<string>carros-3e971</string>
	<key>STORAGE_BUCKET</key>
	<string>carros-3e971.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836187479018:ios:e7cb02832dd2677e</string>
	<key>DATABASE_URL</key>
	<string>https://carros-3e971.firebaseio.com</string>
</dict>
</plist>